*.iws
.idea/**/workspace.xml
.idea/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/libraries
.idea/inspectionProfiles/
.idea/sonarlint
.idea/checkstyle-idea.xml
.idea/httpRequests/

target/
application.properties

/sql/

dyn_tree_test.json
